HelloAndroid/.metadata
HelloAndroid/HelloViews/bin/classes.dex
HelloAndroid/HelloViews/bin/HelloViews.apk
HelloAndroid/HelloViews/bin/jarlist.cache
HelloAndroid/HelloViews/bin/classes/com/isoftpark/helloviews/BuildConfig.class
HelloAndroid/HelloViews/bin/classes/com/isoftpark/helloviews/HelloViewsActivity.class
HelloAndroid/HelloViews/bin/classes/com/isoftpark/helloviews/R$attr.class
HelloAndroid/HelloViews/bin/classes/com/isoftpark/helloviews/R$drawable.class
HelloAndroid/HelloViews/bin/classes/com/isoftpark/helloviews/R$layout.class
HelloAndroid/HelloViews/bin/classes/com/isoftpark/helloviews/R$string.class
HelloAndroid/HelloViews/bin/classes/com/isoftpark/helloviews/R.class
HelloAndroid/HelloViews/gen/com/isoftpark/helloviews/BuildConfig.java
HelloAndroid/HelloViews/gen/com/isoftpark/helloviews/R.java
.DS_Store
HelloAndroid/HelloViews/bin/res
HelloAndroid/HelloViews/bin/resources.ap_
HelloAndroid/HelloWorld/bin
HelloAndroid/HelloWorld/gen/com/isoftpark/helloworld/BuildConfig.java
HelloAndroid/HelloWorld/gen/com/isoftpark/helloworld/R.java
HelloAndroid/HelloWorld/gen
HelloAndroid/HelloWorld/bin/jarlist.cache
HelloAndroid/HelloWorld/bin/classes/com/isoftpark/helloworld/BuildConfig.class
HelloAndroid/HelloWorld/bin/classes/com/isoftpark/helloworld/HelloWorldActivity.class
HelloAndroid/HelloWorld/bin/classes/com/isoftpark/helloworld/R$attr.class
HelloAndroid/HelloWorld/bin/classes/com/isoftpark/helloworld/R$drawable.class
HelloAndroid/HelloWorld/bin/classes/com/isoftpark/helloworld/R$layout.class
HelloAndroid/HelloWorld/bin/classes/com/isoftpark/helloworld/R$string.class
HelloAndroid/HelloWorld/bin/classes/com/isoftpark/helloworld/R.class
HelloAndroid/HelloViews/bin
/HelloAndroid/HelloLocalization/bin
/HelloAndroid/HelloLocalization/gen
/HelloAndroid/Notepadv1/bin
/HelloAndroid/Notepadv1/gen
/HelloAndroid/Notepadv2/bin
/HelloAndroid/Notepadv2/gen
/HelloAndroid/Notepadv3/bin
/HelloAndroid/Notepadv3/gen